<legend class="legend"><span><?= $block->escapeHtml(__('Student')) ?></span></legend><br>

<a type="button" id="filldetails" onclick="addFields()"><button class="action submit primary" type="button"><?= __('Insert Student') ?></button></a>
<div class="field custom container_student" id="container"/>

<script type='text/javascript'>

    let qty = 0;
    function addFields() {
        var container = document.getElementById("container");

        qty++;

        var div = document.createElement('div');
        div.id = 'registry-' + qty;
        div.style.padding = '15px';

        //Insert Name
        var span = document.createElement('span');
        span.innerHTML = "<b><?= __('Name') ?>:</b>";

        var label = document.createElement("label");
        label.class = "label";
        label.appendChild(span);

        var input = document.createElement("input");
        input.type = "text";
        input.name = "student["+ qty +"][name]";

        div.appendChild(label);
        div.appendChild(input);

        //Insert RA
        span = document.createElement('span');
        span.innerHTML = "<b><?= __('Academic Registry') ?>:</b>";

        label = document.createElement("label");
        label.class = "label";
        label.appendChild(span);

        input = document.createElement("input");
        input.type = "text";
        input.name = "student["+ qty +"][ar]";

        div.appendChild(label);
        div.appendChild(input);

        var link = document.createElement('button');
        link.type = "button";
        link.style.cssText = "margin-top: 10px";
        link.className = "action submit primary";
        link.onclick = function () {
            this.parentNode.parentNode.removeChild(this.parentNode);
        };
        link.innerHTML = "<?= __('Delete') ?>";

        div.appendChild(link);

        container.appendChild(div);
    }
</script>