<?php
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
  $customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>

<div class="headerinfo-item item myaccount">
    <div class="myaccount-container myaccount">
        <div class="myaccount-header header">
            <a class="myaccount-link link" href="/customer/account/" title="Go to my account">
            <svg class="ico"><use xlink:href="#user"></use></svg>
            <span class="text"><?= __('My Account') ?></span>
            </a>
        </div>
        <div class="myaccount-content">
          <?php if($customerSession->isLoggedIn()) :?>
            <ul class="list">
              <li class="item">
                <a class="link" href="/customer/account"><?= __('Personal Information') ?></a>
              </li>
              <li class="item">
                <a class="link" href="/sales/order/history/"><?= __('My Orders') ?></a>
              </li>
              <li class="item">
                <a class="link" href="/customer/account/logout/"><?= __('Sign out') ?></a>
              </li>
            </ul>
          <?php else :?>
            <ul class="list">
              <li class="item">
                <a class="link" href="/customer/account/login"><?= __('Sign in') ?></a>
              </li>
              <li class="item">
                <a class="link" href="/customer/account/create/"><?= __('Register') ?></a>
              </li>
            </ul>
          <?php endif; ?>
        </div>
    </div>
</div>