<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-address-item" css="'selected-item' : isSelected() , 'not-selected-item':!isSelected()">
    <div class="address-icon">
        <svg data-v-2b5c1647="" id="address" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" xml:space="preserve" class="ico"><path data-v-2b5c1647="" d="M8,0C4.8,0,2.2,2.6,2.2,5.8c0,4,5.2,9.8,5.4,10c0.2,0.2,0.6,0.2,0.8,0c0.2-0.2,5.4-6.1,5.4-10C13.8,2.6,11.2,0,8,0z M8,8.7c-1.6,0-2.9-1.3-2.9-2.9S6.4,2.9,8,2.9s2.9,1.3,2.9,2.9S9.6,8.7,8,8.7z"></path></svg>
    </div>

    <div class="address-content">
        <div class="address-name">
            <text args="address().prefix"/> <text args="address().firstname"/> <text args="address().middlename"/>
            <text args="address().lastname"/> <text args="address().suffix"/>
        </div>
    
        <div class="address-street">
            <text args="_.values(address().street).join(', ')"/>
        </div>
    
        <div class="address-city">
            <text args="address().city "/>, <span text="address().region"></span>
            <text args="getCountryName(address().countryId)"/>
        </div>
    
        <div class="address-postcode">
            <text args="address().postcode"/>
        </div>
    
        <a class="address-phone" if="address().telephone" attr="'href': 'tel:' + address().telephone" text="address().telephone"></a>
    
        <each args="data: address().customAttributes, as: 'element'">
            <text args="$parent.getCustomAttributeLabel(element)"/>
        </each>
    
        <button visible="address().isEditable()" type="button"
                class="action edit-address-link"
                click="editAddress">
            <span translate="'Edit'"></span>
        </button>
        <!-- ko if: (!isSelected()) -->
        <button type="button" click="selectAddress" class="action action-select-shipping-item">
            <span translate="'Ship Here'"></span>
        </button>
        <!-- /ko -->
    </div>
</div>
