/* 
* Pagina SLM 
*/

/* Imagem grande do topo da pagina */
.oquesao-img {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* O que sao SLMs */
.oquesao-slm {
  font-family: var(--root-font-3);
  margin: 0 auto 166px;

  @media (max-width: 568px) {
    margin: 0 auto 70px;
  }

  .img {

    @media (max-width: 767px) {
      order: 2;
      margin: 1rem 0 0 0;
      max-width: ~"calc(100vw - 3rem)";
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    align-items: flex-end;
    justify-content: center;
    

    @media (max-width: 992px) {
      grid-gap: 30px;
    }

    @media (max-width: 767px) {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      grid-gap: 0;
    }
  }

  .title {
    font-size: 35px;
    line-height: 36px;
    font-weight: var(--black);
    color: var(--midtone);
    display: block;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 38px;
    }
    @media (max-width: 568px) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  .text {
    font-size: 23px;
    line-height: 23px;
    font-weight: var(--light);
    color: var(--highlight);
    margin-bottom: 20px;

    @media (max-width: 767px) {
      font-size: 13px;
    }
    > p:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}


/* O que sao SLMs */
.evolucao-ano {
  font-family: var(--root-font-3);
  margin: 0 auto 170px;
  max-width: 893px;

  .title {
    font-size: 35px;
    line-height: 36px;
    font-weight: var(--black);
    color: var(--midtone);
    text-transform: uppercase;
    margin-bottom: 28px;
    display: flex;
    align-items: baseline;
    flex-flow: row wrap;

    @media (max-width: 767px) {
      font-size: 30px;
    }

    img {
      margin-left: 18px;
    }
  }

  .text {
    font-size: 23px;
    line-height: 23px;
    font-weight: var(--light);
    color: var(--highlight);
    margin-bottom: 68px;

    @media (max-width: 767px) {
      font-size: 13px;
    }
  }

  .link {
    height: 70px;
    width: 100%;
    max-width: 455px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--brightness);
    background: var(--gradient-dark-hover);
    background-size: 205% auto !important;
    background-position: center left;
    font-weight: var(--bold);
    transition: 250ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0 auto;
  
    &:hover {
      background-position: center right !important;
    }
  }
}


/* Importancia do material SLM */
.comprar-slm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 50px;
  align-items: flex-end;
  justify-content: center;
  font-family: var(--root-font-3);
  margin: 0 auto 180px;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @media (max-width: 568px) {
    margin: 0 auto 70px;
  }

  .img {

    @media (max-width: 767px) {
      order: 2;
      margin: 1rem 0 0 0;
      max-width: ~"calc(100vw - 3rem)";
    }
  }

  .content {
    @media (max-width: 767px) {
      flex: 1 1 100%;
    }
  }

  .title {
    font-size: 40px;
    line-height: 40px;
    font-weight: var(--black);
    color: var(--midtone);
    display: block;
    text-transform: uppercase;
    margin-bottom: 72px;

    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 32px;
    }
  }

  .link {
    height: 70px;
    width: 100%;
    max-width: 272px;
    border-radius: 50px;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--brightness);
    background: var(--gradient-dark-hover);
    background-size: 205% auto !important;
    background-position: center left;
    font-weight: var(--bold);
    transition: 250ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 11px;
  
    &:hover {
      background-position: center right !important;
    }

  }
}


/* Duvidas Frequentes */
.duvidas-box {
  font-family: var(--root-font-3);
  position: relative;
  padding: 68px 0;
  color: var(--brightness);
  margin-bottom: 170px;

  @media (max-width: 992px) {
    margin-bottom: 50px;
    background: var(--midtone);
    padding: 60px 16px;
  }

  @media (max-width: 568px) {
    margin-bottom: 70px;
  }

  /* background */
  &:before {
    content: "";
    background: var(--midtone);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    z-index: -1;

    @media (max-width: 992px) {
      display: none;
    }
  }

  > .title {
    font-size: 32px;
    line-height: 62px;
    font-weight: var(--black);
    border-bottom: 10px solid var(--brightness);
    margin-bottom: 62px;
    display: inline-block;
    padding-right: 3rem;

    @media (max-width: 768px) {
      padding-right: 0;
    }
    @media (max-width: 568px) {
      font-size: 25px;
      line-height: 32px;
      font-weight: var(--black);
      border-bottom: 4px solid var(--brightness);
      margin-bottom: 46px;
    }
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .item {
    margin-bottom: 20px;
  }

  .question {
    font-size: 16px;
    font-weight: var(--black);
    text-transform: uppercase;
    padding: 6px 0;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;
    cursor: pointer;

    @media (max-width: 568px) {
      font-size: 14px;
    }
  }

  .content {
    font-size: 13px;
    line-height: 20px;
    font-weight: var(--regular);
    padding-top: 12px;
  }
}

/*
* Open Dropdown Effect
*/
.close-element {
  > .drop {
    opacity: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    border-width: 0 1px;
  }
}
.close-element {
  cursor: pointer;

  > *:first-child::after {
    content: "+" !important;
    transform: rotate(-90deg) !important;
  }
}

/* title / name */
*[is="dropdown-element"] > *:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: "-";
    margin-left: auto;
    font-size: 28px;
    line-height: 16px;
    transition: 200ms ease;
  }
}


/* Banner Grid */
.bannergrid-slm {
  font-family: var(--root-font-3);
  margin-bottom: 16px;

  > .title {
    text-align: center;
    margin-bottom: 58px;

    .text {
      font-size: 27px;
      line-height: 34px;
      font-weight: var(--black);
      color: var(--midtone);
      display: inline-block;
      text-transform: uppercase;
      border-bottom: 7px solid var(--midtone);
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "imgalunos hibrido imgvinhedo imgvinhedo" "imgalunos recursos imgslm portfolio" "moderno moderno engajamento portfolio";
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);

    @media (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "imgalunos hibrido" "imgalunos recursos" "moderno moderno" "imgvinhedo imgvinhedo" "imgslm portfolio" "engajamento portfolio";
      margin-bottom: 50px;
    }

    @media (max-width: 992px) {
      max-width: ~"calc(100vw - 25px)";
    }

    > img {
      width: 100%;

      &:nth-child(1) {
        grid-area: imgalunos;
      }
    
      &:nth-child(2) {
        grid-area: hibrido;
      }

      &:nth-child(3) {
        grid-area: recursos;
      }

      &:nth-child(4) {
        grid-area: moderno;
      }
    
      &:nth-child(5) {
        grid-area: imgvinhedo;
      }
    
      &:nth-child(6) {
        grid-area: imgslm;
      }
    
      &:nth-child(7) {
        grid-area: portfolio;
      }
    
      &:nth-child(8) {
        grid-area: engajamento;
      }
    }
  }

}


/* Slider de Video */
.grid-videos {
  font-family: var(--root-font-3);
  margin-bottom: 145px;

  @media (max-width: 568px) {
    margin-bottom: 70px;
  }

  > .title {
    text-align: center;
    margin-bottom: 36px;

    .text {
      font-size: 60px;
      line-height: 65px;
      font-weight: var(--black);
      color: var(--midtone);
      padding: 0 2rem;
      display: inline-block;
      text-transform: uppercase;
      border-bottom: 7px solid var(--midtone);

      @media (max-width: 568px) {
        font-size: 30px;
        line-height: 35px;
      }
    }
  }

  > .subtitle {
    font-size: 16px;
    text-align: center;
    font-weight: var(--light);
    color: var(--highlight);
    margin-bottom: 66px;
  }

  .video-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-bottom: 24px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    iframe {
      @media (max-width: 768px) {
        width: auto;
        min-height: 200px;
        margin: auto;
      }
    }
  }

  .video-grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-bottom: 24px;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  iframe {
    width: 100%;

    @media (max-width: 992px) {
      min-height: 270px;
    }

    @media (max-width: 768px) {
      width: auto;
      min-height: 200px;
      margin: auto;
    }
  }
}

.video-frame {
  margin-bottom: 8rem; 

  iframe {
    max-width: 1124px;
    width: 100%;

    @media(max-width: 767px) {
      height: 350px;
    }
    @media(max-width: 568px) {
      height: 250px;
    }
  }
}